li{
    list-style: none;
}
a{
    text-decoration: none;
}
.ultimo_post_grid{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 2%;
    transform: scale(.9);
    margin-top: 10%;

    @media(max-width:900px){
        flex-direction: column;
    }
    
    


    .grid_child{
        position: relative;
        width: 50%;
        justify-content: center;
        color: #fff;
        @media(max-width:900px){
            width: 100%;
            margin-bottom: 5%;
        }

        .grid_child_content{
            background-image: linear-gradient(rgba(0,0,0,.5),black 71%);
            border-radius: 30px;


            @media(max-width:900px){
                margin-bottom: 5%;
                height: 80vh;
            }
        }
        a{
            color: #fff;
            text-decoration: none;
        }
        .description{
            position: absolute;
            top: 60%;
            text-align: center;
            padding-left: 5%;
            @media(max-width:900px){
                top: 5% !important;
            }
        }


        img{
            height: 100% !important;
            width: 100%;
            object-fit: cover;
            opacity: 0.5;
            border-radius: 30px;
        }


    }

    .the_grid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 5%;

        @media(max-width:900px){
            display: block;
            margin-bottom: 5%;
        }

        .grid_child_content{
            height: 43vh;
            position: relative;

            @media(max-width:900px){
                height: 80vh;
            }

            .description{
                position: absolute;
                top: 30%;
                text-align: center;
            }
        }
    }
}

#site-navigation{
	background: #fff !important;
    justify-content: flex-start;
    gap: 5%;
    position: fixed;
    
    ul{
        padding-top: 1%;
    }
}

.populars{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    h2{
        text-align: center !important;
    }
}

.popular_posts{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 50vh;
    margin-top: 5%;
    margin-bottom: 5%;
    box-shadow: 2px 2px 8px #aaa;
    border-radius: 10px;

    @media(max-width:900px){
        height: 80vh;
    }



    strong{
        text-decoration: none;
        font-size: 19px;
        color: #000;
        font-weight: bold;
        text-align: center;
        padding-top: 2%;
    }

    a{
        font-weight: bold;
        text-align: center;
        border-bottom: 1px solid #aaa;
    }

    img{
        height: 60%;
        width: 100%;
        object-fit: cover;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }


}

.popular_posts_slider{
    padding-left: 1% !important;
}

.author{
    text-align: center;
    color: #aaa;
}